<div id="right_column_flip">
    <h2>Help pages</h2>
    <ul class="no_bullets">
        <li><%= link_to_unless_current "Introducción", help_about_path %></li>
        <li><%= link_to_unless_current "Solicitar información", help_requesting_path %></li>
        <li><%= link_to_unless_current "Tu confidencialidad", help_privacy_path %></li>
        <li><%= link_to_unless_current "Información para organismos público", help_officers_path %></li>
        <li><%= link_to_unless_current "Acerca del software", help_alaveteli_path %></li>
        <li><%= link_to_unless_current "Agradecimientos", help_credits_path %></li>
        <li><%= link_to_unless_current "API para programadores", help_api_path %></li>
        <li><%= link_to_unless_current "Puedes ayudar", help_general_path(:action => 'help_out') %></li>
        <li><%= link_to_unless_current "Advanced search", advanced_search_path %></li>
    </ul>

    <h2 id="contact">Contáctanos</h2>
    <p>Si tu pregunta no está resuelta aquí, o quieres hacernos llegar algún comentario sobre la web, <a href="<%= help_contact_path %>">contáctanos</a>.
    </p>
</div>


