<% @title = "Información para organismos público" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="officers"><%= @title %> <a href="#officers">#</a> </h1>

<h2>¿Qué es Queremosdatos.co?</h2>

<dl>

<dt id="top">He llegado a este enlace a través de una solicitud de información. ¿De qué se trata? <a href="#top">#</a> </dt>

<dd>
  <p><%= site_name %> es una página web gestionada por Datasketch y apoyada por la organización británica mySociety. Ayuda a los ciudadanos a solicitar información a instituciones públicas y a compartir las respuestas con el resto de los ciudadanos.</p>

  <p>La solicitud que ha recibido fue enviada a través de <%= site_name %>.</p>

  <p>Tan solo tendrá que responder a la solicitud de la misma forma que una solicitud de información corriente. La única diferencia es que la respuesta se publicará automáticamente en nuestra página web.</p>

  <p>Si tiene dudas sobre privacidad o cualquier otro asunto, por favor siga leyendo, ya que quizás se resolverán más adelante.</p>

  <p>Es posible que esté interesado en leer la sección Quiénes Somos para conocer con más detalle en qué consiste este proyecto, el equipo detrás de él y a qué nos dedicamos.</p>

  <p>También puede navegar por la página para ver qué otras solicitudes se han realizado a su institución y comprobar cuál es el estado de respuesta.</p>

  <p>Nos encantará recibir sus comentarios, ideas o sugerencias sobre esta web. Por favor, <a href="/help/contact">contacte con nosotros</a>.</p>
</dd>


<dt id="responses">¿Por qué se publican las respuestas a las solicitudes de información? <a href="#responses">#</a> </dt>

<dd>
  <p>Creemos que aporta beneficios. Principalmente animará a los ciudadanos a estar más interesados y comprometidos con las actividades de las instituciones públicas.</p>

  <p>También esperamos que, de esta manera, se reduzca el número de solicitudes de información duplicadas que puedan recibir organismos como el suyo.</p>

  <p>La información que se va a solicitar es información pública por lo que su posterior publicación no supone ningún problema, al contrario: es una forma eficiente de que ésta no vuelva a ser solicitada.</p>
</dd>

<dt id="realpeople">¿Las personas que realizan solicitudes son reales? <a href="#realpeople">#</a> </dt>

<dd>
  <p>Por supuesto. Antes de poder enviar una solicitud, todos los usuarios deben registrarse en la página web aportando un e-mail que verificamos.</p>

  <p>Para que el sistema funcione de manera automática, utilizamos direcciones de correo electrónico generadas por ordenador para cada una de las solicitudes. Es por eso que la dirección de contacto que a usted le aparece pone “@datasketch.co”.</p>
</dd>

<dt id="too_many">¡Queremosdatos.co está enviando demasiadas solicitudes! <a href="#too_many">#</a> </dt>

<dd>
  <p>Nosotros no realizamos ninguna solicitud. Las enviamos en nombre de los usuarios, que son personas reales que solicitan información acerca de los temas en los que están interesados. Si está recibiendo muchas peticiones, es una señal de que hay interés en su institución o sus actividades, ¡felicidades!</p>
</dd>

<h2>Proceso de las solicitudes</h2>

<dt id="spam_problems">¡Veo que se ha realizado una petición a mi institución, pero nosotros no hemos recibido ningún email! <a href="#spam_problems">#</a> </dt>

<dd>
 <p>Si una petición aparece en Queremosdatos.co, es que hemos intentado enviarla al órgano pertinente vía e-mail. Cualquier mensaje de fallo en la recepción aparecerá automáticamente en la web.</p>

  <p> Puede comprobar la dirección de contacto a la que estamos enviando las peticiones usando el link “Ver dirección de e-mail” que aparece en la página de cada institución. Esta información fue brindada por la Secretaría de Transparencia.</p>

  <p>Por favor, si tiene una dirección mejor que podamos utilizar, le agradeceríamos que se pusiera <a href="/help/contact">en contacto con nosotros</a>. A veces las peticiones son bloqueadas por los “filtros de spam”. Para asegurarse de que esto no ocurra, pida a su departamento de informática que añada cualquier e-mail de @datasketch.co a la lista de remitentes autorizados.</p>

  <p>Si nos lo pide, podemos reenviar el correo de la solicitud realizada a su institución y/o darle detalles técnicos de la entrega, de manera que su departamento de informática pueda identificar lo que ha ocurrido con el mensaje.</p>
</dd>

<dt id="days">
  ¿Cómo calculan la fecha límite que aparece en la página de peticiones? <a href="#days">#</a>
</dt>

<dd>
  <p>Calculamos los 15 días hábiles desde el envío de la solicitud, tal y como se establece en el artículo.</p>
</dd>

<dt id="respond_how">
  ¿Cómo respondo a la solicitud? <a href="#respond_how">#</a>
</dt>

<dd>
  <p>Simplemente, responda al e-mail de manera normal. La solicitud se hará llegar al solicitante y se publicará también en la página web de <%= site_name %>.</p>
</dd>

<dt id="large_file">
  ¿Cómo puedo enviar un archivo grande que no puede ir por email? <a href="#large_file">#</a>
</dt>

<dd>
  <p><a href="/help/contact">Contacte con nosotros</a> y le facilitaremos una dirección web para subir el archivo desde su navegador.</p>
</dd>

<h2>Privacidad</h2>

<dt id="names">
  ¿Por qué publican los nombres de los funcionarios y el texto de los emails? <a href="#names">#</a>
</dt>

<dd>
  <p>Consideramos que el trabajo de los funcionarios debe ser información pública. Únicamente eliminaremos dicha información bajo circunstancias excepcionales.</p>
</dd>

<dt id="mobiles">¿Publican las direcciones de email o los números de teléfono móvil? <a href="#mobiles">#</a> </dt>

<dd>
  <p>Para prevenir el spam, intentamos eliminar automáticamente todas las direcciones de correo y posibles números de teléfono móvil de las respuestas a las peticiones. Por favor, contacte con nosotros si hemos olvidado retirar alguna. Por razones técnicas no siempre podemos eliminarlos de los archivos adjuntos, así como de algunos documentos en PDF.</p>
</dd>

</dl>

<!-- p><strong>If you haven't already</strong>, read <a href="/help/about">the introduction</a> --&gt;
<br><strong>Otherwise</strong>, the <a href="/help/credits">credits</a> or the <a href="/help/api">programmers API</a> --&gt; -->

<div id="hash_link_padding"></div>


</div>
